table.layout, table.results {
    width: 100%;
}

table.layout td.layout-label {
    width: 20%;
    font-weight: bold;
    color: #999;
}

.layout-highlight {
    font-weight: bold;
    font-size: 48px;
}

table.results {
    margin-top: 20px;
}

table.results th {
    border-bottom: solid 1px #cccccc;
}

table.results td {
    border-bottom: solid 1px #eeeeee;
    padding-top: 5px;
    padding-bottom: 5px;
}

table.results td.small, table.results th.small {
    width: 30px;
    padding-right: 5px;
    border: None;
}

table.results tr.signed-out td {
    color: #cccccc;
}

table.results tr.signed-out td a {
    color: #808080;
}

table.results tr.signed-out button.signed-out {
    color: #808080 !important;
}


.cell-center {
    text-align: center;
}

/* Branding */
body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.navbar, .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus,
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary
{
    background-color: #13899D;
    border-color: #13899D;
}

h1, h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    text-transform:uppercase;
}

h2, h3, h4 {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform:uppercase;
    font-weight: 400;
}

.btn {
 	font-family: Roboto Condensed;
 	border-color: #13899D;
 	/*color: white;*/
}

.btn:hover {
 	background-color: #a5bfb2;
 	/*color: white;*/
}

.btn.active {
 	-webkit-box-shadow: none;
 	box-shadow: none;
}

.btn-default .glyphicon {
    color: #13899D;
}

button .glyphicon {
 	color: white;
}

.spinner {
    background-image: url('/static/images/ajax-loader.gif');
    background-repeat: no-repeat;
    width: 16px;
}
