<h2 class="sub-heading">Events</h2>


<table class="table">
    <thead>
        <tr>
            <th>Name</th><th>Type</th>
        </tr>
    </thead>
    <tbody>
{{#each e in model}}
    <tr>
        <td>
            {{#if e.Kidswork}}
                {{#link-to 'event_kidswork' e.Id}}{{e.Name}}{{/link-to}}
            {{else}}
                {{#link-to 'event' e.Id}}{{e.Name}}{{/link-to}}
            {{/if}}
        </td>
        <td>{{e.Type}}</td>
    </tr>
{{/each}}
    </tbody>
</table>
