<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Life Church Portal</title>
    <!--link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet"-->
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300' rel='stylesheet' type='text/css'>
    <link href="/static/css/custom/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/custom/portal.css" rel="stylesheet">
    <script src="/static/js/dist/jquery.min.js"></script>
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home">Portal</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li id="nav-home" data-toggle="collapse" data-target=".nav-collapse"><a href="/home#/">Home</a></li>
            <li id="nav-people" data-toggle="collapse" data-target=".nav-collapse"><a href="/home#/people/page/1">People</a></li>
            <li id="nav-events" data-toggle="collapse" data-target=".nav-collapse"><a href="/home#/events">Events</a></li>
            {% if 'admin' in session.role %}
            <li id="nav-admin" data-toggle="collapse" data-target=".nav-collapse"><a href="/admin">Admin</a></li>
            {% endif %}
            <li data-toggle="collapse" data-target=".nav-collapse"><a href="https://accounts.google.com">{{ session.name }}</a></li>
          </ul>
        </div>
      </div>
    </div>

{% raw %}
<script type="text/x-handlebars">
<div id="main" class="container-fluid" role="main">
    <br>
    {{outlet}}

</div>
</script>
{% endraw %}
    {{ request.args.get('testing') }}

{% include "handlebars/people.handlebars" %}
{% include "handlebars/person.handlebars" %}

    <script src="/static/js/dist/vendor.js"></script>
    <script src="/static/js/dist/handlebars.min.js"></script>
    <script src="/static/js/dist/ember.min.js"></script>

    {%  if request.args.get('testing') %}
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>

    <script src="/static/js/test/qunit/qunit.js"></script>
    <link href="/static/js/test/qunit/qunit.css" rel="stylesheet"-->
    <script src="/static/js/dist/portal.js"></script>
    <script src="/static/js/test/test.js"></script>
    {% else %}
    <script src="/static/js/dist/portal.js"></script>
    {% endif %}

</body>
</html>
